body{
    background-color: pink;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px;
    margin-bottom: 10px;
    background-color: #f4f4f4;
}

input {
    padding: 10px;
    width: 80%;
}

button {
    padding: 10px;
}